<!-- Sidebar -->
<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="menu-item active">
            <i class="fas fa-home"></i>
            <a class="menu-text" routerLink="/">Trang chủ</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-chart-bar"></i>
            <a class="menu-text" routerLink="/contract/templates">Tạo mẫu hợp đồng</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-file-alt"></i>
            <a routerLink="/contract/list">Quản lý hợp đồng</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-clipboard-list"></i>
            <a routerLink="/contract/templates/list">Mẫu hợp đồng</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-project-diagram"></i>
            <a routerLink="/contract/flow">Quy trình phê duyệt</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-users"></i>
            <a routerLink="/contract/departments">Phòng ban</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-users"></i>
            <a routerLink="/contract/positions">Vị trí</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-users"></i>
            <a routerLink="/contract/users">Người dùng</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-users"></i>
            <a routerLink="/role">Role - Permission</a>
        </li>
        <li class="menu-item">
            <i class="fas fa-cog"></i>
            <span class="menu-text">Cài đặt</span>
        </li>
        <li class="menu-item">
            <i class="fas fa-sign-out-alt"></i>
            <span class="menu-text">Đăng xuất</span>
        </li>
    </ul>
</aside>
